.olTable {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  & li {
    display: contents;

    & > * {
      align-self: center;
      justify-self: center;

      &:hover {
        background-color: var(--hover-bg);
      }
    }

    & h2 {
      margin: 0;
    }
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  & img {
    height: 3.5rem;
    aspect-ratio: 1;
  }
}

.col-3 {
  column-count: 3;
}

.newGroup {
  display: flex;

  & .description {
    flex-grow: 1;
  }
}