.olTable {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  & li {
    &, & label {
      display: contents;
    }

    & > * {
      align-self: center;
      justify-self: center;

      &:hover {
        background-color: var(--hover-bg);
      }
    }

    & h2 {
      margin: 0;
    }
  }
}

#new {
  display: grid;
  grid-template-columns: repeat(5, 1fr);

  & label {
    display: contents;
  }

  & section {
    grid-column: 1 / -1;
    gap: 1rem;
    margin-top: 4rem;

    & input, & button {
      font-size: 1.75rem;
    }
  }
}

.center {
  display: flex;
  align-self: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  & img {
    height: 3.5rem;
    aspect-ratio: 1;
  }
}

.col-3 {
  column-count: 3;
}

.newGroup {
  display: flex;
  margin-bottom: 2rem;

  & .description {
    flex-grow: 1;
  }
}

#edit {
  grid-columns: 1 / -1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  & select, & button {
    font-size: 1.75rem;
  }
}