& .use-rubric {
  display: flex;
  gap: 1rem;
  justify-content: center;

  & nav {
    display: flex;
    gap: 1rem;
    flex-direction: column;
  }
}

.noRubrics {
  display: flex;
  justify-content: center;
  align-items: center;
}