.header {
  display: flex;
  place-content: space-between;
}

#outer {
  & li button {
    aspect-ratio: 1;
    font-size: 1.25rem;
    border-radius: 0.5rem;
    margin-inline: 0.5rem;
    background-color: var(--button-bg);
    color: var(--button-fg);
    border: 2px solid var(--button-border);
    font-weight: bold;

    &:hover {
      filter: brightness(1.5);
    }
  }
}

.olTable {
  & ol {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    & li {
      display: contents;

      &:hover > * {
        background-color: var(--hover-bg);
        transition: background-color 0.5s ease-in-out;
      }

      & > * {
        align-self: center;
      }

      & h2 {
        margin: 0;

        & a {
          position: relative;
          display: block;
          background-image: linear-gradient(
            90deg, var(--button-bg) 0%, var(--button-focus-bg) 50%
          );
          -webkit-background-clip: text;
          color: transparent;
          transition: bnackground-image 1.5s ease-in-out;

          &:hover {
            background-image: linear-gradient(
              90deg, var(--button-focus-bg) 0%, var(--button-bg) 50%
            );
          }
        }
      } 
    }
  }
}