.form {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0.5rem 0;

  & h3 {
    text-align: right;
    margin-inline-end: 0.5rem;
    margin-block: 0;

    &:after {
      content: ':';
    }
  }

  & label:has(textarea) {
    & h3, & textarea {
      grid-column: 1 / -1;
    }

    & h3 {
      text-align: left;
    }

    & textarea {
      margin-inline-start: 1rem;
      height: 5em;
    }
  }

  & label {
    display: contents;
    margin-block: 0.5rem;
  }

  & .center {
    grid-column: 1 / -1;
    align-self: center;
    justify-self: center;
  }

  & .noneOption {
    font-style: italic;
    opacity: 0.75;
  }
}

& .buttons {
  display: flex;

  & select, & button, & input, & a {
    font-size: 1.5rem;
  }

  & button, & a {
    margin-inline: 0.5rem;
    padding-block: 0.5rem;

    &.cancel, &.delete {
      --button-bg: #EB0900;
      --button-fg: #000;
    }

    &.submit, &.add {
      --button-bg: #0F4812;
      --button-fg: #FFF;
    }

    &.edit {
      --button-bg: #020C74;
      --button-fg: #FFF;
    }

    &.export {
      --button-bg: #744A02;
      --button-fg: #FFF;
    }

    &.reset {
      --button-bg: #014955;
      --button-fg: #FFF;
    }
  }
}

.options {
  & button, & a {
    aspect-ratio: 1;
    border-radius: 0.5rem;
    padding: 0.25rem;
    line-height: 1.5rem;
    background-color: var(--button-bg);
    color: var(--button-fg);
    font-weight: bold;

    &:hover {
      filter: brightness(1.5);
    }
  }

  & a {
    padding-top: 0.75rem;
  }
}

.full {
  grid-column: 1 / -1;
  display: flex;
  width: 100%;

  & > * {
    flex: 1;
  }
}