.listGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;

  & li {
    display: contents;
  }
}

#reactions {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  place-items: center;

  & input, & output {
    text-align: center;
  }

  & .use-rubric {
    display: flex;
    gap: 1rem;
    justify-content: center;

    & nav {
      display: flex;
      gap: 1rem;
      flex-direction: column;
    }
  }
}