.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  & object {
    height: 50vh;
  }

  & button {
    margin-top: 3vh;
    font-size: 15pt;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
  }
}

#mainnav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  color: var(--bg);
  background-color: var(--fg);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  & a {
    text-decoration: none;
    color: var(--hover-fg);
    font-size: 15pt;

    &:hover {
      text-decoration: underline;
    }
  }

  & li:hover {
    color: #000;
  }
}