:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --icon-size: 3.5rem;

  --anchor-fg: #646cff;
  --anchor-hover-fg: color-mix(in srgb, var(--anchor-fg) 50%, #000 50%);
  --button-bg: #FF490F;
  --button-fg: #000;
  --button-border: color-mix(in srgb, var(--button-bg) 75%, #000 25%);
  --hover-bg: #1DA914;

  --button-focus-bg: #6700EB;
  --button-focus-fg: #EBC500;
  --button-hover-bg: #B26300;
  --button-hover-fg: #1AFFCC;

  & button:focus {
    --button-bg: var(--button-focus-bg);
    --button-fg: var(--button-focus-fg);
  }
  & button:hover {
    --button-bg: var(--button-hover-bg);
    --button-fg: var(--button-hover-fg);
  }
}

a {
  font-weight: 500;
  color: var(--anchor-fg);
  text-decoration: inherit;
}
a:hover {
  color: var(--anchor-hover-fg);
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

html, body {
  margin: 0;
}

button {
  border: 2px solid var(--button-border);
  border-radius: 0.5rem;
  background-color: var(--button-bg);
  color: var(--button-fg);
  cursor: pointer;
  transition: background-color 0.2s;
}

#home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & img {
    margin-top: 5rem;
    max-height: 50vh;
    aspect-ratio: 1;
  }
}

.emoji {
  font-size: calc(var(--icon-size) * .8);
  height: var(--icon-size);
  width: var(--icon-size);
}

.square {
  aspect-ratio: 1;
}